<%- include("../header") %> 
<%- include("../components/navbar") %>
<%- include("../components/flash_msg") %>

<h2>Parent Project</h2>

<ul class="list-group task-list">
    <li class="list-group-item task-item">
        <div class="row">
            <div class="col-md-6">
                <div class="task-details">
                    <h3 class="task-name"><%= parentItem.getName() %></h3>
                    <p class="task-description"><%= parentItem.getDescription() %></p>
                    <p class="task-author">Author: <%= parentItem.getAuthor() %></p>
                </div>
            </div>
            <div class="col-md-3">
                <p class="task-date">Created At: <%= parentItem.displayTime() %></p>
            </div>
            <!-- <div class="col-md-3">
                <p class="task-date">Updated At: <%= parentItem.displayUpdatedAt() %></p>
            </div> -->
        </div>
    </li>
</ul>




<h2>Result Detail Page</h2>
    
    <ul class="list-group task-list">
        <li class="list-group-item task-item">
            <div class="row">
                <div class="col-md-6">
                    <div class="task-details">
                        <h3 class="task-name"><%= item.getName() %></h3>
                        <p class="task-description"><%= item.getDescription() %></p>
                        <p class="task-author">Author: <%= item.getAuthor() %></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="task-date">Created At: <%= item.displayTime() %></p>
                </div>
                <!-- <div class="col-md-3">
                    <p class="task-date">Updated At: <%= item.displayUpdatedAt() %></p>
                </div> -->
            </div>
        </li>
    </ul>
<br>


<br>
<br>
<br>
<%- include("../footer") %>
