<%- include("./header") %> 
<%- include("./components/navbar") %>
<%- include("./components/flash_msg") %>


<h1>Hello <%= name %></h1>

<style>

.btn-transition {
    transition: color 0.2s ease-in-out;
}
    
</style>
<button class="btn btn-outline-primary btn-transition"  onclick="ResetAllTables()">
    Reset Database 
</button>


<script type="text/javascript" src="/js/flash_msg.js"></script>
<script>


    function ResetAllTables() {

        let flashMsgElement;
        showSpinner()
        fetch('/api/reset_all_tables', {
            method: 'GET',
        }).then( res => {

            if (res.ok) {
                return res.json()
            } else {
                throw new Error('Error with API')
            }
        })
        .then(data => {
            console.log(data)
            flashMsgElement = createFlashMsg("success!!", "primary");
            $('.flash-message-layout').append(flashMsgElement);
            
        })
        .catch(error => {
            console.error(error)
            flashMsgElement = createFlashMsg(error, "primary");
            $('.flash-message-layout').append(flashMsgElement);
        })
        .finally(() => {
            hideSpinner()

        })
    }

</script>



<%- include("./footer") %>
