<%- include("../header") %> 
<%- include("../components/navbar") %>
<%- include("../components/project_menu") %>


<h2>Project Detail Page</h2>
<% items.forEach(item => { %>

    <ul class="list-group task-list">
        <li class="list-group-item task-item">
            <div class="row">
                <div class="col-md-6">
                    <div class="task-details">
                        <h3 class="task-name"><%= item.name %></h3>
                        <p class="task-description"><%= item.description %></p>
                        <p class="task-author">Author: <%= item.author %></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="task-date">Created At: <%= item.displayCreatedAt() %></p>
                </div>
                <div class="col-md-3">
                    <p class="task-date">Updated At: <%= item.displayUpdatedAt() %></p>
                </div>
            </div>
        </li>
    </ul>
<% }); %>

<br>
<h2>Tasks</h2>

<!-- add new task of this project -->
<h3>Add Task</h3>

<form action="/tasks/add" method="post">
        <input name="project_id" type="hidden" value="<%= projectInformation.id %>">
        <input name="name" type="text" >
        <input name="description" type="text">
        <button>Add</button>
</form>

<ul class="list-group task-list">
        <% childItems.forEach(task => { %>
            <li class="list-group-item task-item">
                <div class="row">
                    <div class="col-md-6">
                        <div class="task-details">
                            <h3 class="task-name"><%= task.name %></h3>
                            <p class="task-description"><%= task.description %></p>
                            <p class="task-author">Author: <%= task.author %></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="task-date">Created At: <%= task.displayCreatedAt() %></p>
                    </div>
                    <div class="col-md-3">
                        <p class="task-date">Updated At: <%= task.displayUpdatedAt() %></p>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>


<br>
<br>
<br>
<%- include("../footer") %>
