<%- include("../header") %> 
<%- include("../components/navbar") %>
<%- include("../components/project_menu") %>


<h3>Detail Page</h3>
<% items.forEach(item => { %>
    
        <%= item.name %>: <%= item.description %>
        <br>
        Created At: <%= item.created_at %>
        <br>
        Updated At: <%= item.updated_at %>
        <br>
        author: <%= item.author %>
        
<% }); %>

<%- include("../footer") %>
