<%- include("../header") %> 
<%- include("../components/navbar") %>
<%- include("../components/flash_msg") %>

<h2>Project Edit Page</h2>
<% items.forEach(item => { %>
    <div class="edit-project-layout">
        <div class="item-author">Author: <%= item.getAuthor() %></div>
        <div class="item-date">Created At: <%= item.displayCreatedAt() %></div>
        <div class="item-date">Updated At: <%= item.displayUpdatedAt() %></div>


        <input hidden type="text" name="id" value="<%= item.getId() %>" >
        <input type="text" class="form-control-sm w-50" name="name" value="<%= item.getName() %>" >
        <br>
        <textarea  class="form-control-sm w-50"  name="description"><%= item.getDescription() %></textarea>


        <button onclick="editProject(this)">Edit</button>
    </div>
<% }); %>

<br>



<script>
async function editProject(button) {
    const editProjectLayout = $(button).closest('.edit-project-layout');
    const projectId = editProjectLayout.find('[name="id"]').val()
    const description = editProjectLayout.find('[name="description"]').val()
    const projectName = editProjectLayout.find('[name="name"]').val()
    await editProject(projectId)

    function editProject(projectId) {
        $.ajax({
            url: '/projects/edit',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                project_id: projectId,
                description: description,
                name: projectName
            }),
            success: function(response) {
                flash_tesr()
                window.location.href = `/projects/detail?id=${projectId}`
            },
            error: function(xhr, status, error) {
                console.error('Error fetching tasks:', error);
                flash_tesr()
                // createAndShowUnderNavBarFlashMsg(`API Error: ${error}`, "danger")
            }
        })
        .always(function() {
            console.log('Request completed.'); // This will execute whether the request is successful or not.
        });
}
}


function flash_tesr() {
        $.ajax({
            url: '/flash_test',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
            }),
            success: function(response) {
                console.log(response)

            },
            error: function(xhr, status, error) {
                console.error('Error fetching tasks:', error);
            }
        })
        .always(function() {
            console.log('Request completed.'); // This will execute whether the request is successful or not.
        });
}

</script>

<%- include("../footer") %>
