<%- include("../header") %> 
<%- include("../components/navbar") %>
<%- include("../components/flash_msg") %>


<ul class="list-group item-list">
    <% projects.forEach(project => { %>
        <li class="list-group-item project">
            <div class="row">
                <div class="col-md-7">
                    <div class="item-details">
                        <h3 class="item-name"><a href="/projects/detail?id=<%= project.getId() %>"><%= project.getId() %>. <%= project.getName() %></a></h3>
                        <p class="item-description"><%= project.getDescription() %></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="item-author">Author: <%= project.getAuthor() %></p>
                    <p class="item-date">Created At: <%= project.displayCreatedAt() %></p>
                    <p class="item-date">Updated At: <%= project.displayUpdatedAt() %></p>
                </div>
            </div>
        </li>
    <% }); %>
</ul>

<%- include("../footer") %>
