<%- include("../header") %> 
<%- include("../components/navbar") %>
<%- include("../components/project_menu") %>

<ul>
    <% projects.forEach(project => { %>
        <li>
            <a href="/projects/detail?id=<%= project.id %>"><%= project.name %>: <%= project.description %></a>
            <br>
            Created At: <%= project.created_at %>
            <br>
            Updated At: <%= project.updated_at %>
            <br>
            author: <%= project.author %>
            
        </li>
    <% }); %>
</ul>

<%- include("../footer") %>
